.card {
  margin: 10px 0;
  font-family: "Noto Sans JP";
}
.link {
  cursor : pointer;
}
.link:hover {
  text-decoration: underline;
}

.edit-btn {
  color: #a67bca;
}

.badge {
  margin-right: 5px;
  font-family: "Noto Sans JP";
}
.edit-area input[type=checkbox] {
  display: none;
}
.edit-area .badge {
  cursor: pointer;
}

.badge-secondary {
  background: #cba9d4;
}

.badge-info {
  background: #b2d4a9;
}
