<div class="card flex-sm-row mb-gutter">
  <img class="card-img-top card-img-sm-left link" (click)="open()" [src]="item.thumbnail" style="width: 180px" />
  <div class="card-body">
    <h5 class="link" (click)="open()">{{ item.title }}</h5>
    <div class="card-text" *ngIf="!isEditMode">タグ:
      <p
          class="badge badge-pill badge-secondary"
          *ngFor="let tag of item.tags">{{ tag }}</p>
      <button class="btn edit-btn" (click)="onEdit()"><i class="fas fa-folder-open"></i></button>
    </div>
    <!-- 編集モード -->
    <div class="card-text edit-area" *ngIf="isEditMode">タグ:
        <ng-container *ngFor="let tag of useTags; let i = index">
          <input type="checkbox" name="tag{{i}}"
            id="tag{{i}}"
            [(ngModel)]="tag.isUse">
          <label
            class="badge badge-pill"
            [ngClass]="{ 'badge-secondary': !tag.isUse, 'badge-info': tag.isUse }"
            for="tag{{i}}">{{ tag.label }}</label>
        </ng-container>
      <button class="btn edit-btn" (click)="onEdit()"><i class="fas fa-folder-plus"></i></button>
    </div>
  </div>
</div>
