.tags-form {
  margin-top: 10px;
  border: 1px solid #d1b9e9;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
}

.badge {
  font-size: 24px;
  margin-top: 5px;
  margin-right: 10px;
  font-family: "Noto Sans JP";
  cursor: pointer;
}

.badge-secondary {
  background: #cba9d4;
}

.badge-info {
  background: #b2d4a9;
}