/* You can add global styles to this file, and also import other style files */

body {
  color: #a67bca;
  background-image: url("assets/bg.jpg");
}

.card {
  border-color: #d1b9e9;
}

.form-control {
  border-color: #d1b9e9;
}

.modal {
  z-index: 2000;
}

.btn-pink {
  background-color: #a67bca;
  border-color: #a67bca;
  color: white;
}

.btn-pink:hover {
  color: white;
}

.btn-outline-pink {
  color: #a67bca;
  border-color: #a67bca;
}

.btn-outline-pink:hover {
  color: #a67bca;
  border-color: #a67bca;
}